<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @question.number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<% if !@options.blank? %>
  <% for o in @options %>
    <input type="checkbox" value="<%=o.id%>"><%= o.title %></input></br>
  <% end %>
<% else %>
  
<% end %>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
